ul {
  margin-block-start: 0;
  padding-inline-start: 0;
  margin-block-end: 0;
}

html,
body {
  height: 100%;
  background-color: red;
}
body {
  margin: 0;
}

.hide {
  display: none;
}
#home-page {
  #campus {
    width: 100%;
    height: 100%;
    background-image: url('./imgs/img1.jpg');
    background-size: 100% 100%;
  }

  #campus .logo {
    display: block;
    padding-top: 10px;
    padding-left: 14px;
  }

  #campus .title {
    display: block;
    position: absolute;
    left: 19.5%;
    top: 31.5%;
  }

  #campus .title img {
    max-width: 100%;
  }
  @media screen and (max-width: 767px) {
    #campus .title {
      left: 10%;
      top: 32%;
      width: 80%;
    }
    #school-news .logo {
      top: 15px;
      width: 200px;
      height: auto;
    }
  }

  @media screen and (max-width: 992px) and (min-width: 768px) {
    #campus .title {
      left: 10%;
      top: 32%;
      width: 80%;
    }

    #school-news .school-news-content .item {
      width: 50%;
    }
  }
  @media screen and (min-width: 993px) and (max-width: 1200px) {
    #campus .title {
      left: 15%;
      top: 32%;
      width: 80%;
    }
  }

  /* pc */
  @media screen and (min-width: 1201px) and (max-width: 1400px) {
    #school-news .logo {
      top: 10px;
      left: 1%;
    }
    #school-news .school-news-content .school-news-img {
      height: 135px;
    }
  }

  @media screen and (min-width: 1401px) and (max-width: 1550px) {
  }

  @media screen and (min-width: 1551px) {
  }

  #school-news {
    position: relative;
    height: 100%;
  }
  #school-news .school-news-img {
    height: 174px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  #school-news .school-news-title {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-family: 宋体;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    color: #fff;
  }
  #school-news .logo {
    position: absolute;
    width: 312px;
    height: 77px;
  }
  #school-news .school-news-content {
    width: 820px;
    position: relative;
    top: 22%;
    margin: 0 auto;
  }

  #school-news .school-news-content .item {
    width: 23%;
    margin: 0 1%;
    transition: all 0.5s ease;
    /* should be float insteadof inline-block becauseof the strange margin */
    float: left;
  }
  #school-news .school-news-content .item .school-news-li-wrapper {
    padding: 0 8px;
    background: #fff;
    border: 1px solid #f2f2f2;
  }
  .school-news-li-wrapper .school-news-li {
    border-top: 1px dashed #ccc;
  }
  .school-news-li-wrapper .school-news-li:first-child {
    border-top: none;
  }
  #school-news .school-news-content .item .school-news-li-wrapper li {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    width: 60%;
    vertical-align: middle;
  }
  .dot {
    display: inline-block;
    width: 4px;
    height: 4px;
    background: #bebebe;
    border-radius: 50%;
    margin-right: 5px;
  }

  .content {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .content .item {
    width: 300px;
    height: 100px;
    display: inline-block;
    background: azure;
    opacity: 0.6;
  }

  #campus .title {
    display: block;
    position: absolute;
    left: 19.5%;
    top: 31.5%;
  }

  .content {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .content .item {
    width: 300px;
    height: 100px;
    display: inline-block;
    opacity: 0.6;
    background: azure;
    border-radius: 5px;
  }
}
