html,
body {
  height: 100%;
}
.weixin-icon {
  .content {
    height: 100%;
    width: 100%;
    background-image: url('./touxiang-bg.jpg');
    background-size: 100% 100%;
  }

  .wrapper {
    width: 100%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
  }
  #canvas {
    position: absolute;
    display: block;
    margin: 50px auto;
    transform: translateX(-50%);
    left: 50%;
    /* opacity: 0; */
  }
  .uploadfile {
    position: absolute;
    top: 0;
    width: 400px;
    height: 46px;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }

  .upload-btn {
    width: 50%;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
  }
}
